<p>
ID: <%= user.id %><br/>
Restaurant name: <%= user.rest_name %><br/>
Address: <%= user.address %><br/>
Avatar: <%= user.avatar %><br/>
Description: <%= user.description %><br/>
</p>
<a href="/logout">Log out</a>